<div class="jumbotron text-center">
  <h1 class="display-3"> {{title}}</h1>
<p class="lead">Write down the vision for all your business ideas</p>
<a href="/business" class="btn btn-dark btn-lg">Add Business Ideas</a>
</div>
